nodered/gridgenius_flow.json
[
  {"id":"tab_main","type":"tab","label":"GridGenius","disabled":false},
  {"id":"mqtt_broker","type":"mqtt-broker","name":"Mosquitto Local",
   "broker":"localhost","port":"1883","clientid":"nodered_gridgenius",
   "autoConnect":true,"usetls":false,"protocolVersion":"4"},
  {"id":"inject_collect","type":"inject","z":"tab_main","name":"Collecte 10s",
   "repeat":"10","once":true,"onceDelay":"2","payload":"","payloadType":"date",
   "x":160,"y":80,"wires":[["exec_collector"]]},
  {"id":"exec_collector","type":"exec","z":"tab_main","name":"collector.py",
   "command":"python3 /home/pi/GridGenius/ai/collector.py",
   "addpay":false,"timer":"8","x":380,"y":80,
   "wires":[["parse_mppt"],["debug_err"],[]]},
  {"id":"parse_mppt","type":"json","z":"tab_main","name":"Parse JSON",
   "x":580,"y":80,"wires":[["influx_write","call_decide","mqtt_pub_mppt"]]},
  {"id":"influx_write","type":"influxdb out","z":"tab_main","name":"→ InfluxDB",
   "influxdb":"influx_cfg","measurement":"mppt_data",
   "x":780,"y":60,"wires":[]},
  {"id":"influx_cfg","type":"influxdb","hostname":"localhost","port":"8086",
   "protocol":"http","database":"microgrid","name":"InfluxDB Local",
   "usetls":false,"influxdbVersion":"1.x"},
  {"id":"call_decide","type":"http request","z":"tab_main",
   "name":"POST /decide","method":"POST","ret":"obj",
   "url":"http://localhost:8000/decide","x":780,"y":120,"wires":[["handle_decision"]]},
  {"id":"handle_decision","type":"function","z":"tab_main","name":"Appliquer décision",
   "func":"const d = msg.payload;\nconst mode = d.mode || 'normal';\nif(mode === 'SAFE_MODE'){\n    msg.payload = {relay_solar:true,relay_battery:false,relay_grid:true};\n    node.warn('SAFE MODE actif');\n} else {\n    const relays = {\n        solar:   {relay_solar:true, relay_battery:false,relay_grid:false},\n        battery: {relay_solar:true, relay_battery:true, relay_grid:false},\n        grid:    {relay_solar:true, relay_battery:false,relay_grid:true},\n        hybrid:  {relay_solar:true, relay_battery:true, relay_grid:true}\n    };\n    msg.payload = relays[d.decision] || relays['grid'];\n}\nreturn msg;",
   "outputs":1,"x":980,"y":120,"wires":[["gpio_cmd","mqtt_pub_decision"]]},
  {"id":"gpio_cmd","type":"debug","z":"tab_main","name":"GPIO (à connecter)",
   "active":true,"tosidebar":true,"complete":"payload","x":1180,"y":100,"wires":[]},
  {"id":"mqtt_pub_mppt","type":"mqtt out","z":"tab_main","name":"Pub mppt",
   "topic":"gridgenius/mppt","qos":"1","retain":"true",
   "broker":"mqtt_broker","x":780,"y":180,"wires":[]},
  {"id":"mqtt_pub_decision","type":"mqtt out","z":"tab_main","name":"Pub décision",
   "topic":"gridgenius/decision","qos":"1","retain":"true",
   "broker":"mqtt_broker","x":1180,"y":160,"wires":[]},
  {"id":"inject_predict","type":"inject","z":"tab_main","name":"Prédiction 30min",
   "repeat":"1800","once":true,"onceDelay":"10","payload":"","payloadType":"date",
   "x":160,"y":280,"wires":[["call_predict"]]},
  {"id":"call_predict","type":"http request","z":"tab_main",
   "name":"GET /predict","method":"GET","ret":"obj",
   "url":"http://localhost:8000/predict?days=14","x":380,"y":280,
   "wires":[["debug_predict"]]},
  {"id":"debug_predict","type":"debug","z":"tab_main","name":"Log prédiction",
   "active":false,"tosidebar":true,"complete":"payload","x":600,"y":280,"wires":[]},
  {"id":"debug_err","type":"debug","z":"tab_main","name":"Erreurs collector",
   "active":true,"tosidebar":true,"tostatus":true,"complete":"payload",
   "x":580,"y":140,"wires":[]}
]
